@
# Server Configuration
NODE_ENV=development

# Database Configuration
DATABASE_URI=mongodb://localhost:27017/smart-go
DATABASE_DEBUG=true

# Application Configuration
APP_NAME=smart-go
APP_VERSION=0.0.1